{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1 class="text-center pt-5">Bienvenue sur mon application de gestion</h1>
<ul>
    {% for leprenom in monTableau %}
    <li>{{ leprenom|upper }}</li>
    {% endfor %}
</ul>
    {% if age > 18 %}
    Vous etes majeur
    {% else %}
    Vous etes mineur
    {% endif %}
{% endblock %}
